ul li a,
p {
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 10px 1px 0px black;
  color: #212121;
  text-decoration: none;
}

a,
i {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}
div {
  padding: 0px;
}
.navbar-brand img {
  height: 2.7em;
}
.navbar {
  transition: 0.4s ease-out;
}
.navbar .nav-item a {
  text-transform: capitalize;
  transition: ease-out 0.2s;
  padding: 0.5em 0.2em;
  font-size: medium;
}
.navbar .nav-item a:hover {
  text-decoration: underline !important;
  color: #4caf50 !important;
}

.navbar .dropdown-menu .dropdown-item{
  padding: 0em 0.5em;
}
.navbar .dropdown-menu .dropdown-item:active{
  color: white !important;
}
.body {
  padding: 0.5em 0em;
  margin-top: 0px;
  transition: 0.4s ease-out;
}
button.navbar-toggler.d-lg-none {
  align-self: flex-start;
}
.jumbotron.jumbotron-fluid {
  background-image: url(images/wire-brushes-banner.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  background-position: center;
}

.jumbotron.jumbotron-fluid .container p {
  background: rgba(225, 225, 225, 0.4);
  width: fit-content;
  border-radius: 0.3rem;
}

.jumbotron .container > * {
  padding: 2px;
}
.dropdown-menu {
  transition: 0.3s;
}
.dropdown-menu.show {
  background-color: #f8f9fa;
}

.carousel-item img {
  border-radius: 10px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-item{
  height: 60vh;
}
.factory .carousel-item{
  height: 10rem;
}
.factory .carousel-item img {
  border-radius: 10px;
  max-width: 100%;
  height: fit-content;
  object-position: center;
  object-fit: cover;
}
.factory .carousel-item img {
  border-radius: 10px;
  max-width: 100%;
  height: fit-content;
  object-position: center;
  object-fit: cover;
}
.factory .carousel-item img :hover {
  transform: scale(1.5);
}
.carousel-caption {
  margin-top: 50px !important;
  background-color: rgba(225, 225, 225, 0.8);
  padding: 10px;
  border-radius: 10px;
  color: black;
  text-align: center;
}

.box .card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card {
  position: relative;
  transition: all 0.3s ease 0s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.005);
  border: 1px solid #cccccc;
  background-color: white;
}
.address > img {
  width: auto;
  height: 50px;
  margin: 10px 0px;
}
.card-footer {
  font-size: small;
  padding: 0;
}
.card-footer p {
  padding: 0 !important;
}
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-align: left;
}
.list li a {
  text-decoration: none;
  left: -45px;
  color: #cccccc;
}
.textcenter {
  text-align: center;
}
.partner_item {
}

.icon {
  width: 30px !important;
  height: auto !important;
}
.lgfont {
  font-weight: 900;
}
.support {
  position: unset;
  top: 0px;
  border: outset;
  border-radius: 15px;
  background-color: lightgray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  height: fit-content;
}
.support h2 {
  text-align: center;
  font-weight: 600;
  font-family: Oswald;
}
.card > .card-body {
  margin: 0 !important;
}
@media (min-width: 1200px) {
  .support {
    position: sticky;
    top: 150px;
  }
}

footer * {
  color: white;
}

.width-fit {
  width: fit-content;
}

.table thead tr th {
  vertical-align: middle !important;
}
